<html>
<head>
    <title>Clock App</title>
</head>
<body>
<form action="/userConcole" method="post">
    Second: <input type="text" name="Second"></br>
    Minute: <input type="text" name="Minute"></br>
    Hour:   <input type="text" name="Hour"></br>
            <input type="submit" value="Change Value">
</form>
</body>
</html>